.NavBar-Title {  
  background-color: aqua;
  text-align: center;
  margin-top: 6%;
  border-radius: 10px;

}

.NavBar-Title .NavBar-Menu {
  font-size: 200%;
  text-decoration: none;
  padding: 1%;
  margin: 1%;
  color: black;

}
.jaipur{
  font-size: 50px;
}